.customer {
    padding: 55px 60px 60px 60px;
    background-color: $orange-light-color;
    @media (max-width: 575px) {
        padding: 55px 10px 60px 10px;
    }
    &__carousel {
        position: relative;
        width: 100%;
        margin-top: 40px;
    }
    &__frame {
        overflow: hidden;
    }
    &__track {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: calc(50% - 25px);
        // &:not(:first-child) {
        //     margin-left: 50px;
        // }
        @media (max-width: 991px) {
            min-width: calc(100% - 50px);
        }
        @media (max-width: 575px) {
            align-items: center;
        }
    }
    &__photo {
        @include flexcenter();
        min-width: 121px;
        min-height: 121px;
        border-radius: 100%;
        background-color: $white-color;
        @media (max-width: 575px) {
            min-width: 65px;
            min-height: 65px;
        }
        .with_photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__descr {
        position: relative;
        padding: 30px;
        background-color: $white-color;
        margin-left: 35px;
        &::after {
            content: '';
            border: 20px solid transparent;
            border-right: 20px solid $white-color;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-100%, 100%);
            @media (max-width: 575px) {
                top: 150px;
            }
        }
    }
    &__name {
        @include roboto();
        font-size: 17px;
        font-weight: 500;
        color: $gray-color;
    }
    &__text {
        @include roboto();
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: $gray-color;
    }
    &__data {
        @include roboto();
        width: 120px;
        margin: 10px 0;
        font-size: 9px;
        font-weight: 300;
        color: $white-color;
        padding: 10px 15px;
        background-color: #bbbbbd;
    }
    &__arrows {
        @media (max-width: 575px) {
            display: none;
        }
    }
    &__arrow {
        &-left {
            top: 100px;
            left: -70px;
        }
        &-right {
            top: 100px;
            right: -70px;
        }
    }
}
