.customer {
    padding: 55px 0 60px 0;
    background-color: $orange-light-color;
    &__carousel {
        position: relative;
        margin-top: 40px;
    }
    &__track {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__photo {
        @include flexcenter();
        min-width: 121px;
        min-height: 121px;
        border-radius: 100%;
        background-color: $white-color;
        .with_photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__descr {
        position: relative;
        width: 330px;
        padding: 30px;
        background-color: $white-color;
        margin-left: 35px;
        &::after {
            content: '';
            border: 20px solid transparent;
            border-right: 20px solid $white-color;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-100%, 100%);
        }
    }
    &__name {
        @include roboto();
        font-size: 17px;
        font-weight: 500;
        color: $gray-color;
    }
    &__text {
        @include roboto();
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: $gray-color;
    }
    &__data {
        @include roboto();
        width: 120px;
        margin: 10px 0;
        font-size: 9px;
        font-weight: 300;
        color: $white-color;
        padding: 10px 15px;
        background-color: #bbbbbd;
    }
    &__arrow {
        &-left {
            top: 80px;
            left: -70px;
        }
        &-right {
            top: 80px;
            right: -70px;
        }
    }
}
