.footer {
    padding: 45px 0;
    // height: 275px;
    background-color: $gray-color;
    @media (max-width: 575px) {
        padding: 45px 10px 45px 10px;
    }
    &__upper {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &::after {
            content: '';
            position: absolute;
            bottom: -68px;
            left: -20px;
            width: calc(100% + 30px);
            height: 1px;
            background-color: rgba(#fff, .1);
            @media (max-width: 575px) {
                bottom: -60px;
            }
        } 
    }
    &__link-title {
        @include roboto();
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: $main-color;
        @media (max-width: 575px) {
            font-size: 12px;
        }
    }
    &__links {
        flex-basis: 18%;
        list-style-type: none;
        @media (max-width: 991px) {
            flex-basis: 22%;
        }
        @media (max-width: 767px) {
            flex-basis: 28%;
        }
        @media (max-width: 575px) {
            flex-basis: calc(23% + 30px);
        }
        li {
            margin-bottom: 10px;
        }
    }
    &__contacts {
        position: relative;
        list-style-type: none;
        flex-basis: 64%;
        @media (max-width: 991px) {
            flex-basis: 60%;
        }
        @media (max-width: 767px) {
            flex-basis: 54%;
        }
        @media (max-width: 575px) {
            margin-left: 30px;
        }
        li {
            margin-bottom: 10px;
        }
        &::before {
            content: '';
            position: absolute;
            top: -5px;
            left: -45px;
            width: 1px;
            height: 210px;
            background-color: rgba(#fff, .1);
            @media (max-width: 575px) {
                left: -15px;
            }
        }
    }
    &__followus {
        flex-basis: 18%;
        text-align: end;
        @media (max-width: 575px) {
            flex-basis: calc(23% + 30px);
        }
    }
    &__link, &__link-text {
        @include roboto();
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
        color: $white-color;
        &:not(.footer__link-text) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: 575px) {
            font-size: 10px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 105px;
        @media (max-width: 575px) {
            flex-direction: column;
            margin-top:70px;
        }
    }
    &__logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
            @include roboto();
            font-size: 13px;
            font-weight: 300;
            margin-right: 10px;
            color: rgba($white-color, .3);
        }
    }
    &__rights {
        @include roboto();
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: #f8f3e9;
    }
    
}