.header {
    padding: 10px 0;
    background-color: $gray-color;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        margin: 0;
        @media (max-width: 575px) {
            display: none;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            &:after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 35px;
                margin: 0 20px;
                background-color: rgba(#fff, .1);
            }
        }
    }
    &__link {
        @include roboto();
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        color: $white-color;
        text-decoration: none;
        &:hover {
            color: darken($white-color, 20%);
        }
    }
    &__button {
        background-color: $orange-light-color;
        color: $gray-color;
        &:hover {
            background-color: darken($orange-light-color, 10%);
        }
        @media (max-width: 575px) {
            margin-right: 20px;
        }
    }
    &__hamburger {
        display: none;
        cursor: pointer;
        @media (max-width: 575px) {
            display: block;
            margin-left: 20px;
        }
        span {
            display: block;
            width: 20px;
            height: 2px;
            background-color: $white-color;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    
}

