.main {
	padding: 0 0 50px 0;
	margin-top: 152px;
	@media (max-width: 575px) {
		padding: 0 15px 50px 15px;
		
	}
	@media (max-width: 767px) {
		margin-top: 204px;
	}
	@media (max-width: 575px) {
		margin-top: 219px;
	}
	
	#main_img {
		width: 100%;
	}
    &__text {
       	margin-top: 66px;
		text-align: center;
	   	span {
		   @include roboto();
		   font-size: 17px;
		   line-height: 30px;
		   font-weight: 300;
		   color: $gray-color;
	   	}
    }
	&__cards {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		margin-top: 58px;
		list-style-type: none;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&:not(:last-child) {
			margin: 0 30px 0 0;
		}
		&-circle {
			@include flexcenter();
			width: 170px;
			height: 170px;
			border-radius: 100%;
			border: 1px solid $main-color;
		}
		&-img {
			@include flexcenter();
		}
		&-title {
			@include roboto();
			min-height: 40px;
			font-size: 17px;
			font-weight: 500;
			color: $gray-color;
			text-align: center;
			margin-top: 27px;
			text-transform: uppercase;
			@media (max-width: 767px) {
				min-height: unset;
			}
		}
		&-text {
			@include roboto();
			min-height: 135px;
			font-size: 15px;
			font-weight: 300;
			text-align: center;
			line-height: 22px;
			margin-top: 15px;
			@media (max-width: 767px) {
				min-height: unset;
			}
		}
		&-button {
			background-color: $sec-color;
			line-height: 24px;
			margin: 23px auto 0 auto;
			a {
				font-weight: 400;
				color: $white-color;
				font-size: 13px;
				text-decoration: none;
			}
			&:hover {
				background-color: darken($sec-color, 20%);
			}
		}
		&-footer {
			@include roboto();
			font-size: 11px;
			font-weight: 400;
			color: $gray-light-color;
			text-align: center;
			margin-top: 16px;
		}
		
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
	}
	&__buttons {
		@include flexcenter();
		margin-top: 40px;
	}
	&__button {
		@include roboto();
		width: 153px;
		padding: 14px 0;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		a {
			font-size: 13px;
			font-weight: 400;
			text-decoration: none;
			color: $white-color;
		}
		&_register {
			background-color: $main-color;
			margin-right: 15px;
			&:hover {
				background-color: darken($main-color, 10%);
			}
		}
		&_subscribe {
			background-color: $gray-color;
			&:hover {
				background-color: darken($gray-color, 10%);
			}
		}
	}
	&__popup {
		@include flexcenter();
		@include roboto();
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 1000;
		transform: translate(-50%, -50%);
		width: 357px;
		flex-direction: column;
		background-color: $white-color;
		border: 2px solid $main-color;
		padding: 35px 30px 30px 30px;
		color: $gray-color;
		line-height: 20px;
		text-align: center;
		&-title {
			font-size: 17px;
			font-weight: 500;
		}
		&-text {
			font-size: 15px;
			font-weight: 300;
			margin-top: 10px;
		}
		&-form {
			margin-top: 25px;
		}
		&-input {
			@include roboto();
			width: 100%;
			height: 50px;
			font-size: 14px;
			line-height: 24px;
			font-weight: 300;
			border: 1px solid $orange-light-color;
			color: #606060;
			text-align: center;
			&:not(:first-child) {
				margin-top: 5px;
			}
			&::placeholder {
				text-transform: uppercase;
			}
		}
		&-submit {
			@include roboto();
			background-color: $main-color;
			font-size: 13px;
			line-height: 24px;
			font-weight: 400;
			color: $white-color;
			margin-top: 12px;
			border: none;
			&:hover {
				background-color: darken($main-color, 10%);
			}
		}
		&-close {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(120%, -120%);
			color: $white-color;
			font-size: 45px;
			cursor: pointer;
		}
	}
	.popup__background {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100vh;
		background-color: rgba(#000, .4);
	}
}