.main {
	padding: 0 0 50px 0;
	@media (max-width: 575px) {
		padding: 0 15px 50px 15px;
	}
	#main_img {
		width: 100%;
	}
    &__text {
       	margin-top: 66px;
		text-align: center;
	   	span {
		   @include roboto();
		   font-size: 17px;
		   line-height: 30px;
		   font-weight: 300;
		   color: $gray-color;
	   	}
    }
	&__cards {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		margin-top: 58px;
		list-style-type: none;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&:not(:last-child) {
			margin: 0 30px 0 0;
		}
		&-circle {
			@include flexcenter();
			width: 170px;
			height: 170px;
			border-radius: 100%;
			border: 1px solid $main-color;
		}
		&-img {
			@include flexcenter();
		}
		&-title {
			@include roboto();
			min-height: 40px;
			font-size: 17px;
			font-weight: 500;
			color: $gray-color;
			text-align: center;
			margin-top: 27px;
			text-transform: uppercase;
			@media (max-width: 767px) {
				min-height: unset;
			}
		}
		&-text {
			@include roboto();
			min-height: 180px;
			font-size: 15px;
			font-weight: 300;
			text-align: center;
			line-height: 22px;
			margin-top: 15px;
			@media (max-width: 767px) {
				min-height: unset;
			}
		}
		&-button {
			background-color: $sec-color;
			font-size: 13px;
			line-height: 24px;
			font-weight: 400;
			color: $white-color;
			margin: 23px auto 0 auto;
			&:hover {
				background-color: darken($sec-color, 20%);
			}
		}
		&-footer {
			@include roboto();
			font-size: 11px;
			font-weight: 400;
			color: $gray-light-color;
			text-align: center;
			margin-top: 16px;
		}
		
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
	}
	&__buttons {
		@include flexcenter();
		margin-top: 40px;
	}
	&__button {
		@include roboto();
		width: 153px;
		padding: 14px 0;
		font-size: 13px;
		font-weight: 400;
		color: $white-color;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		
		&_register {
			background-color: $main-color;
			margin-right: 15px;
			&:hover {
				background-color: darken($main-color, 10%);
			}
		}
		&_subscribe {
			background-color: $gray-color;
			&:hover {
				background-color: darken($gray-color, 10%);
			}
		}
	}
}