.subheader {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
    }
    &__item {
        @include flexcenter();
        [data-events] {
            margin: 0 12px 0 44px;
            &:before {
                content: url('./assets/icons/index/cup.png');
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(8px, 5px);
            }
        }
        [data-contacts] {
            margin: 0 12px 0 33px;
            &:before {
                content: url('./assets/icons/index/flag.png');
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(8px, 5px);
            }
        }
    }
    &__square {
        position: relative;
        width: 37px;
        height: 37px;
        border: 1px solid $gray-color;
        border-radius: 3px;
    }
    
    &__link {
        @include roboto();
        @include flexcenter();
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        color: $gray-color;
        text-decoration: none;
        &:hover {
            color: darken($gray-color, 100%);
            text-decoration: underline;
        }
    }
    &__button {
        background-color: $main-color;
        color: $gray-color;
        &:hover {
            background-color: darken($main-color, 10%);
        }
    }
}