@import "components/mixins/mixin";
@import "components/variables/variables";
@import "blocks/index/header";
@import "blocks/index/subheader";
@import "blocks/index/main";
@import "blocks/index/customer";
@import "blocks/index/video";
@import "blocks/index/clients";
@import "blocks/index/footer";
@import "blocks/sponsors/sponsors";
@import "blocks/exhibitors/exhibitors";
@import "blocks/speakers/speakers";
@import "blocks/media/media";
@import "blocks/contacts/contacts";
@import "blocks/contacts/feedback";
@import "blocks/registration/registration";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul, li, h1, h2, h3, h4, h5 {
        padding: 0;
        margin: 0;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    @include roboto();
    display: inline-block;
    padding: 7px 26px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.title {
    @include roboto();
    font-size: 24px;
    font-weight: 500;
    color: $gray-color;
    text-transform: uppercase;
    text-align: center;
}
.arrows {
    .arrow_left {
        position: absolute;
        cursor: pointer;
        span {
            &:nth-child(1) {
                border: 25px solid transparent;
                border-right: 10px solid $main-color;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                transform: translate(0, 0);
            }
            &:nth-child(2) {
                border: 25px solid transparent;
                border-right: 10px solid $orange-light-color;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                transform: translate(2px, 0);
            }
        }
    }
    .arrow_right {
        position: absolute;
        cursor: pointer;
        span {
            &:nth-child(1) {
                border: 25px solid transparent;
                border-left: 10px solid $main-color;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
                transform: translate(0, 0);
            }
            &:nth-child(2) {
                border: 25px solid transparent;
                border-left: 10px solid $orange-light-color;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
                transform: translate(-2px, 0);
            }
        }
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}
